@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Azeret Mono', monospace;
}
.main {
    width: 900px;
    height: 600px;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 35px 20px rgba(0, 0, 0, 0.92);
    -moz-box-shadow: 0px 0px 35px 20px rgba(0, 0, 0, 0.92);
    box-shadow: 0px 0px 35px 20px rgba(0, 0, 0, 0.92);
}
.main-left {
    width: 50%;
    height: 100%;
    background-color: white;
    text-align: center;
    border-radius: 60px 0px 0px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    line-height: 3rem;
}
.circle {
    color: rgb(200, 53, 53);
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition-duration: 1s;
    -webkit-box-shadow: 0px 0px 35px -11px rgba(0, 0, 0, 0.92);
    -moz-box-shadow: 0px 0px 35px -11px rgba(0, 0, 0, 0.92);
    box-shadow: 0px 0px 35px -11px rgba(0, 0, 0, 0.92); 
}
.circle:hover {
    transform: scale(1.3);
    background-color: rgb(200, 53, 53);
    color: white;
}
.main-right {
    color: white;
    width: 50%;
    height: 100%;
    background-color: #662225;
    border-radius: 0px 60px 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.main-left-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.field {
    display: block;
    padding: 5px 80px 5px 10px;
    margin: 10px;
}
.field:active, .field:hover, .field:focus {
    outline: 0;
    outline-offset: 0;
}
.text {
    display: block;
    padding: 5px 80px 50px 5px;
}
.text:active, .text:hover, .text:focus {
    outline: 0;
    outline-offset: 0;
}
.help {
    color: black;
    text-decoration: none;
    border-bottom: 2px black dashed;
    padding-bottom: 5px;
}
.btn-left {
    text-decoration: none;
    background-color: rgb(200, 53, 53);
    color: white;
    width: 260px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition-duration: 1.2s;
    -webkit-box-shadow: 0px 0px 35px -11px rgba(0, 0, 0, 0.92);
    -moz-box-shadow: 0px 0px 35px -11px rgba(0, 0, 0, 0.92);
    box-shadow: 0px 0px 35px -11px rgba(0, 0, 0, 0.92);    
}
.btn-left:hover {
    transform: scale(1.1);
}
.btn-right {
    text-decoration: none;
    background-color: White;
    color: rgb(200, 53, 53);
    width: 120px;
    height: 50px;
    border: white 1px solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 35px -11px rgba(0, 0, 0, 0.92);
    -moz-box-shadow: 0px 0px 35px -11px rgba(0, 0, 0, 0.92);
    box-shadow: 0px 0px 35px -11px rgba(0, 0, 0, 0.92);   
}
p {
    font-size: 20px;
}
.welcome , .description {
    margin-bottom: 20px;
}
